/**
 * The container for the dropdown menu
 * (needed to position the dropdown content)
 */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover and focus */
ul li.dropdown:hover > ul,
ul li.dropdown:focus-within > ul,
ul li.dropdown ul:hover,
ul li.dropdown ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Remove text decoration when visited */
.dropdown-content a:visited {
  text-decoration: none !important;
}

/* Change style of dropdown links on hover and focus */
.dropdown-content a:hover,
.dropdown-content a:focus {
  color: black !important;
  background-color: #ddd !important;
  text-decoration: none;
}

/* Style for table with Date Range Filter input boxes (above donations table) */
#date-range-filter {
  float: right;
  margin-bottom: 7px;
}

/**
 * Style for "Export records" button at top of donations table and
 * "Showing x to y of z entries" at bottom of donations table
 */
.dt-buttons, .dataTables_info {
  margin-left: 20px;
}

/* Style for "Show x entries" at top of donations table */
.dataTables_length {
  margin-left: 70px;
}

/* Style for buttons appearing in front of darker backgrounds */
.btn-bold {
	color: #515155 !important;
	font-weight: bold !important;
	border: 1px solid DarkGrey !important;
}

/* Style for hyperlinks within menu choices table */
#menu_choices a:link, #menu_choices a:visited {
  color: #005580;
}

#menu_choices a:hover, #menu_choices a:focus {
  color: Navy;
}

#menu_choices a {
  line-height: 16px;
}

/* Style for label-value pairs */
dt {
  float: left;
  clear: left;
  width: 18em;
  font-weight: bold;
}

dd {
  /* Preserves whitespace; newline chars result in line breaks */
  white-space: pre-wrap;
  /* Clearfix hack to prevent overflow */
  overflow: auto;
}

dd::after {
  /*
   * Ensures that empty dd elements still occupy their own position (no other
   * element is stacked on top of them). For this to work, whitespace must be
   * preserved via "white-space: pre-wrap;" or similar.
   */
  content: " ";
}

.collapse-whitespace {
  /* Collapses whitespace but renders newline chars as line breaks */
  white-space: pre-line;
}

/* Style for required form fields */
.required {
  color: Crimson;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

:invalid + span:after {
  content: '\2716';
  padding-left: 5px;
}

:valid + span:after {
  content: '\2714';
  padding-left: 5px;
}

/* Style for form submission confirmations */
.form-submit-confirmation {
  padding-top: 16px;
  line-height: 20px;
}

/* Style for success messages */
.success {
  color: Green;
}

/* Style for error messages */
.error {
  color: FireBrick;
}

/* Style for error message headers */
.error-header {
  padding: 20px;
	font-size: 19px;
	font-weight: bold;
}

/* Style for blocks of error text */
.error-block {
  margin-left: 20px;
  font-size: 16px;
}
