/* The container for the dropdown menu
 * (needed to position the dropdown content)
 */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Remove text decoration when visited */
.dropdown-content a:visited {
  text-decoration: none !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for label-value pairs */
dt {
  float: left;
  clear: left;
  width: 18em;
  font-weight: bold;
}

dd::after {
  display: table;
  content: "";
  clear: both;
}

/* Style for required form fields */
.required {
  color: Crimson;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

:invalid + span:after {
  content: '\2716';
  padding-left: 5px;
}

:valid + span:after {
  content: '\2714';
  padding-left: 5px;
}

/* Style for error messages */
.error {
  font-style: italic;
}
